*, 
html, 
body {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    height: 80px;
    background-color: #222;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
    position: relative;
}

.calculator {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 15px;
    text-transform: capitalize;
}

.firstname {
    color: white;
    font-weight: 700;
}

.lastname {
    color: blue;
    padding-left: 4px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation>li {
    list-style-type: none;
    padding: 15px;

}

.navigation>li>a {
    color:white;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation>li>a:hover {
    color: blue;
    transition: all .3s ease-in-out;

}

.active {
    background-color: blue;
    color: white;
    padding: 15px;
}

.active:hover {
    color: white !important;

}

.biodata {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    border-radius: 5px;
    padding: 30px;
    margin: 20px;
    position: static;
    line-height: 2;
    margin-left: 200px;
    margin-top: 100px;
    background-color: white;
}

.bambang {
    width: 240px;
    height: 300px;
    position: static;
    left: 0px;
}

.biodata2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    border-radius: 5px;
    padding: 30px;
    margin: 20px;
    position: static;
    line-height: 2;
    margin-left: 600px;
    margin-top: -445px;
    background-color: white;
}

.sifah {
    width: 240px;
    height: 300px;
    position: static;

}

.biodata3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    border-radius: 5px;
    padding: 30px;
    margin: 20px;
    position: static;
    line-height: 2;
    margin-left: 1000px;
    margin-top: -445px;
    background-color: white;
}

.yuga {
    width: 240px;
    height: 300px;
    position: static; 
}
