*,

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    height: 80px;
    background-color: #222;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
    position: relative;
}

.calculator {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 15px;
    text-transform: capitalize;
}

.firstname {
    color: white;
    font-weight: 700;
}

.lastname {
    color: blue;
    padding-left: 4px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation>li {
    list-style-type: none;
    padding: 15px;

}

.navigation>li>a {
    color:white;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation>li>a:hover {
    color: blue;
    transition: all .3s ease-in-out;

}

.active {
    background-color: blue;
    color: white;
    padding: 15px;
}

.active:hover {
    color: white !important;

}

.help {
    margin-top: 50px;
    margin-left: 20px;
    font-size: 20px;
}  

.tutorial {
    margin-top: 70px;
    margin-left: 20px;
    color:navy;
    text-shadow: 1px 1px white;
    font-weight: bold;
    font-size: 40px;

}

.rumus{
    margin-top: 20px;
    margin-left: 20px;
    color:navy;
    text-shadow: 1px 1px white;
}

.p1{
    margin-left: 20px;
    text-shadow: 2px 2px black;
    color: white

}

.ketentuan{
    margin-top: 20px;
    margin-left: 20px;
    color:navy;
    text-shadow: 1px 1px white;
}

.p2{
    margin-left: 20px;
    text-shadow: 2px 2px black;
    color: white
}

.langkah{
    margin-top: 20px;
    margin-left: 20px; 
    color:navy;
    text-shadow: 1px 1px white;
}

.p3{
    margin-left: 20px;
    text-shadow: 2px 2px black;
    color: white
}